@import 'normalize';
@import 'odyssey';

$side-padding: 15px; /*ALWAYS 15px, no matter what*/
$side-padding: 0;
$gutter: 6.25%; /*60px at full width*/

@mixin centerBlock() {
	display: inline-block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #ffffff;
	font-family: lato;
	font-weight: 300;
}

@mixin sidePadding() {
	padding-left: $side-padding;
	padding-right: $side-padding;
}

@mixin commonValues() {
	/*min-height: 2rem;*/
	/*text-align: left;*/
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	font-size: 1rem;
	overflow: hidden;
}


.grid {

	@include centerBlock();

	display: block;
	max-width: 960px;
	
	font-size: 0;

	min-height: 1px;

	/*background-color: #202020;*/


	.row {
		display: block;
		width: 100%;
		background-color: #f7f7f7;
		margin-bottom: 2rem;
	}

	.grid_one {
		@include centerBlock();
		@include sidePadding();
		@include border-box();
		@include commonValues();

		background-color: #343434;

		width: 87.5%;
		max-width: 840px;
	}
	.grid_onehalf {
		@include centerBlock();
		@include sidePadding();
		@include border-box();
		@include commonValues();

		background-color: #F8E71C;

		width: 40.625%;
		max-width: 390px;
	}



	.grid_onethird {
		@include centerBlock();
		@include sidePadding();
		@include border-box();
		@include commonValues();

		background-color: #FEA53C;

		width: 25%;
		max-width: 240px;
	}
	.grid_onefourth {
		@include centerBlock();
		@include sidePadding();
		@include border-box();
		@include commonValues();

		background-color: #6FCF45;

		width: 17.1875%;
		max-width: 165px;
	}
	.grid_onesixth {
		@include centerBlock();
		@include sidePadding();
		@include border-box();
		@include commonValues();

		background-color: #00BFFA;

		width: 9.375%;
		max-width: 90px;
	}
	.grid_twothirds {
		@include centerBlock();
		@include sidePadding();
		@include border-box();
		@include commonValues();

		background-color: #27ECBA;

		width: 56.625%;
		max-width: 540px;
	}



	.grid_onehalf, .grid_onethird, .grid_onefourth, .grid_onesixth, .grid_twothirds {
		/* Gutter */
		margin-right: $gutter;
	}
	.grid_onehalf:last-child,
	.grid_onethird:last-child,
	.grid_onefourth:last-child,
	.grid_onesixth:last-child,
	.grid_twothirds:last-child,
	{
		/* Reset last one */
		margin-right: 0;
	}


}