/*
 *	13grid
 *	https://github.com/Jmz7v/13grid
 *	
 *	Made by Julio Montaño
 *	@jmz7v
 *	
 *	MIT License
 */


@import 'normalize';
@import 'odyssey';

$side-padding: 15px; /*ALWAYS 15px, no matter what*/
$gutter: 6.25%; /*60px at full width*/
$margin-between-rows: 6.25%;

$query-mobile: 600px;
$query-desktop: 920px;


@mixin centerBlock() {
	display: inline-block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #ffffff;
	font-family: lato;
	font-weight: 300;
}

@mixin sidePadding() {
	padding-left: $side-padding;
	padding-right: $side-padding;
}

@mixin commonValues() {
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	font-size: 1rem;
	overflow: hidden;
}


.grid {
	@include centerBlock();
	display: block;
	max-width: $content-max-width;
	font-size: 0;
	background-color: #F7F7F7;

	.row {
		display: block;
		width: 100%;
		margin-bottom: $margin-between-rows;
	}

	.row:last-child {
		margin-bottom: 0;
	}


	.grid_one,
	.grid_onehalf,
	.grid_onethird,
	.grid_onefourth,
	.grid_onesixth,
	.grid_twothirds {
		@include centerBlock();
		@include sidePadding();
		@include border-box();
		@include commonValues();	
	}

	.grid_one {
		background-color: #343434;
		width: 87.5%;
		/*max-width: 840px;*/
	}

	.grid_onehalf {
		background-color: #F8E71C;
		width: 40.625%;
		/*max-width: 390px;*/
	}

	.grid_onethird {
		background-color: #FEA53C;
		width: 25%;
		/*max-width: 240px;*/
	}

	.grid_onefourth {
		background-color: #6FCF45;
		width: 17.1875%;
		/*max-width: 165px;*/
	}

	.grid_onesixth {
		background-color: #00BFFA;
		width: 9.375%;
		/*max-width: 90px;*/
	}

	.grid_twothirds {
		background-color: #27ECBA;
		width: 56.625%;
		/*max-width: 540px;*/
	}

	/* Gutter */
	.grid_onehalf,
	.grid_onethird,
	.grid_onefourth,
	.grid_onesixth,
	.grid_twothirds {
		margin-right: $gutter;
	}

	/* Reset last one */
	.grid_onehalf:last-child,
	.grid_onethird:last-child,
	.grid_onefourth:last-child,
	.grid_onesixth:last-child,
	.grid_twothirds:last-child {
		margin-right: 0;
	}

}





/* Phone */
@media all and (max-width: $query-mobile) {
	
/*	.grid {
		.grid_onehalf,
		.grid_onethird {
			width: 87.5%;
			margin-right: 0;
		}
		.grid_onefourth {
			width: 40.625%;	
		}
		.grid_onefourth:nth-child(2n+2) {
			margin-right: 0;
		}
		.grid_onehalf + .grid_onefourth {
			margin-right: $gutter;
		}

		.grid_onesixth {
			width: 25%;
			margin-right: 0;	
		}
		.grid_onesixth:nth-child(2n+2) {
			margin-right: 0;

		}

		.grid_twothirds {
			width: 87.5%;
			margin-right: 0;
		}
	}*/

	/*FUCK THIS*/

	.grid {
		.grid_onehalf,
		.grid_onethird,
		.grid_onefourth,
		.grid_onesixth,
		.grid_twothirds {
			width: 87.5%;
			margin-right: 0;
		}
	}

	[only-tablet], [only-desktop], [hidden-mobile] {
		display: none !important;
	}

	[only-mobile] {
		display: block;
	}
}

/* Narrow deskops, tablets might be */
@media all and (min-width: $query-mobile) and (max-width: $query-desktop) {

	[only-mobile], [only-desktop], [hidden-tablet] {
		display: none !important;
	}

	[only-tablet] {
		display: block;
	}
}

/* Only desktops */
@media all and (min-width: $query-desktop) {


	[only-mobile], [only-tablet], [hidden-desktop] {
		display: none !important;
	}

	[only-desktop] {
		display: block;
	}


}