/*--------------------------------------------------
	
	Odyssey v1.1
	SCSS/SASS template
	https://github.com/Jmz7v/Odyssey.scss
	MIT License

	Made by Julio Montaño
	@jmz7v
		
--------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body, html {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-size: 16px;
}




/*--------------------------------------------------
	Variables and Mixins
--------------------------------------------------*/

$content-max-width: 960px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($prop) {
  -webkit-transition: $prop;
     -moz-transition: $prop;
       -o-transition: $prop;
          transition: $prop; 
}

@mixin opacity($value) {
  filter: alpha(opacity=$value);
           -moz-opacity: $value;
                opacity: $value;
}

@mixin border-box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}




/*--------------------------------------------------
	Responsive YouTube video
--------------------------------------------------*/

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





/*--------------------------------------------------
	Add-on classes
--------------------------------------------------*/

.content-max-width {
	max-width: $content-max-width;
	margin-left: auto;
	margin-right: auto;
}

.border-box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.circled {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
       -o-border-radius: 50%;
          border-radius: 50%;
}

.espacio-small:after {
	display: block;
	content: "";
	height: 2rem;
}
.espacio-medium:after {
	display: block;
	content: "";
	height: 3.5rem;
}
.espacio-large:after {
	display: block;
	content: "";
	height: 5rem;
}
.espacio-xlarge:after {
	display: block;
	content: "";
	height: 7rem;
}
.espacio-xxlarge:after {
	display: block;
	content: "";
	height: 9rem;
}
.espacio-sick:after {
	display: block;
	content: "";
	height: 12rem;
}
